@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  @apply text-font;
  @apply bg-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

nav {
  backdrop-filter: var(blur(8px));
}